<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://download.xyzsq.com/ios/4_0_6/bid18_BEIJINGZXC_Installer_bdyd19_4_0_6.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://download.xyzs.com/ios/icon-114.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://download.xyzs.com/ios/icon-114.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.xyzs.zbzs</string>
                    <key>bundle-version</key>
                    <string>4_0_6</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>xyzs</string>
                    <key>title</key>
                    <string>XY苹果助手--免越狱, 免账号, 百万正版应用极速免费装</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
